<div style="text-align: left; background-color:#1ED760; font-family:Times New Roman; color:#191414; padding: 12px; line-height:1.25;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 40px;border-style: solid;border-color: #1DB954;"><strong>LAB 02: TR·ª∞C QUAN H√ìA D·ªÆ LI·ªÜU CHU·ªñI TH·ªúI GIAN</strong></div>
<div style="text-align: left; background-color:#FFFFFF; font-family: Times New Roman; color:black; padding: 12px; line-height:1.25;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 18px"><strong>| CSC10108 ‚Äì TR·ª∞C QUAN H√ìA D·ªÆ LI·ªÜU - NH√ìM 16 |<strong></div>

<a id="top"></a>
<div class="list-group" id="list-tab" role="tablist">
    <h3 style="text-align: left; background-color: #1ED760; font-family:Times New Roman; color: white; padding: 14px; line-height: 1; border-radius:10px"><b>Th√¥ng tin th√†nh vi√™n nh√≥m</b></h3>

   *  Tr·∫ßn Hu·ª≥nh H∆∞∆°ng         - 20120099

   * Nguy·ªÖn D∆∞∆°ng Tu·∫•n Ph∆∞∆°ng  - 20120166
    
   * Tr·∫ßn Ho√†i Thi·ªán           - 20120195
        
   * Tr·∫ßn Th·ªã M·ªπ Trinh         - 20120224

   * Nguy·ªÖn Ph∆∞∆°ng Anh         - 20120247

<a id="top"></a>
<div class="list-group" id="list-tab" role="tablist">
    <h3 style="text-align: left; background-color: #1ED760; font-family:Times New Roman; color: white; padding: 14px; line-height: 1; border-radius:10px"><b>M·ª•c l·ª•c üìù</b></h3>
    
   * A. Thu th·∫≠p d·ªØ li·ªáu
        
   * B. Kh√°m ph√° d·ªØ li·ªáu

   * C. Kh√°m ph√° m·ªëi quan h·ªá trong d·ªØ li·ªáu

<div style="text-align: left; background-color:#ACA224; font-family:Arial; color:white; padding: 12px; line-height:1.25;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 30px;border-style: solid;border-color: black;">A. THU TH·∫¨P D·ªÆ LI·ªÜU</div>

<div style="text-align: left; background-color:#FFFFFF; font-family: Times New Roman; color:black; padding: 12px; line-height:1.25;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 20px" > <strong>T·∫≠p d·ªØ li·ªáu ƒë∆∞·ª£c ch·ªçn: Data Science Salaries 2023<strong> </div>

### <span style='color:#2B9C15'>1. Ng·ªØ c·∫£nh, c√¢u chuy·ªán g√¨ khi·∫øn nh√≥m sinh vi√™n th·ª±c hi·ªán vi·ªác t√¨m ki·∫øm d·ªØ li·ªáu?</span>

<div style="border-radius:10px;border:#0C6A86 solid;padding: 15px;background-color:#ebfae8;font-size:110%;text-align:left">
///

### <span style='color:#2B9C15'>2. D·ªØ li·ªáu m√† nh√≥m sinh vi√™n l√† v·ªÅ ch·ªß ƒë·ªÅ g√¨ v√† ƒë∆∞·ª£c l·∫•y t·ª´ ngu·ªìn n√†o?</span>

<div style="border-radius:10px;border:#0C6A86 solid;padding: 15px;background-color:#ebfae8;font-size:110%;text-align:left">
    ///
    </br>
    Nh√≥m ƒë√£ th·ª±c hi·ªán t√¨m ki·∫øm t·∫≠p d·ªØ li·ªáu tr√™n Kaggle: <a href='https://www.kaggle.com/datasets/arnabchaki/data-science-salaries-2023?fbclid=IwAR0bBx8ZhysJHs0Q0TZI-uHRnTUJ7772x0ek0Nzkw06VeIyUf0BQ8ooniyE'> Data Science Salaries 2023 </a>
</div>

### <span style='color:#2B9C15'>3. Ng∆∞·ªùi ta c√≥ cho ph√©p s·ª≠ d·ª•ng d·ªØ li·ªáu nh∆∞ th·∫ø n√†y hay kh√¥ng?</span>

<div style="border-radius:10px;border:#0C6A86 solid;padding: 15px;background-color:#ebfae8;font-size:110%;text-align:left">
    ///

### <span style='color:#2B9C15'>4. Ng∆∞·ªùi ta ƒë√£ thu th·∫≠p d·ªØ li·ªáu n√†y nh∆∞ th·∫ø n√†o? Ph∆∞∆°ng ph√°p th·ª±c hi·ªán l√† g√¨?</span>

<div style="border-radius:10px;border:#0C6A86 solid;padding: 15px;background-color:#ebfae8;font-size:110%;text-align:left">
    ///

<div style="text-align: left; background-color:#ACA224; font-family:Arial; color:white; padding: 12px; line-height:1.25;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 30px;border-style: solid;border-color: black;">B. KH√ÅM PH√Å D·ªÆ LI·ªÜU</div>

üëâ ƒê·∫ßu ti√™n ta import c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt:

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import plotly.graph_objects as go
from plotly.offline import iplot
from plotly.subplots import make_subplots

import plotly.express as px

üëâ Ti·∫øp theo, ta ƒë·ªçc file `"ds_salaries.csv"` v√†o dataframe `salaries_df` v√† in ra 5 d√≤ng ƒë·∫ßu ti√™n c·ªßa dataframe.

In [2]:
salaries_df = pd.read_csv('../datasets/ds_salaries.csv')
salaries_df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

üëâ T√≠nh s·ªë d√≤ng v√† s·ªë c·ªôt:

In [3]:
shape = salaries_df.shape
print('Number of rows: ', shape[0])
print('Number of columns: ', shape[1])

Number of rows:  3755
Number of columns:  11

### <span style='color:#2B9C15'>1. M·ªói d√≤ng c√≥ √Ω nghƒ©a g√¨? C√≥ v·∫•n ƒë·ªÅ c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau kh√¥ng?</span>

### <span style='color:#2B9C15'>2. M·ªói c·ªôt c√≥ √Ω nghƒ©a g√¨?</span>

### <span style='color:#2B9C15'>3. M·ªói c·ªôt hi·ªán ƒëang c√≥ ki·ªÉu d·ªØ li·ªáu g√¨? C√≥ c·ªôt n√†o c√≥ ki·ªÉu d·ªØ li·ªáu ch∆∞a ph√π h·ª£p ƒë·ªÉ c√≥ th·ªÉ x·ª≠ l√Ω ti·∫øp hay kh√¥ng?</span>

### <span style='color:#2B9C15'>4. V·ªõi m·ªói c·ªôt, c√°c gi√° tr·ªã (d·∫°ng s·ªë, d·∫°ng ph√¢n lo·∫°i) ƒë∆∞·ª£c ph√¢n b·ªë nh∆∞ th·∫ø n√†o?</span>

### <span style='color:#2B9C15'>5. C√≥ c·∫ßn ph·∫£i ti·ªÅn x·ª≠ l√Ω d·ªØ li·ªáu hay kh√¥ng v√† n·∫øu c√≥ th√¨ nh√≥m sinh vi√™n c·∫ßn ph·∫£i x·ª≠ l√Ω nh∆∞ th·∫ø n√†o?</span>

<div style="text-align: left; background-color:#ACA224; font-family:Arial; color:white; padding: 12px; line-height:1.25;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 30px;border-style: solid;border-color: black;">C. KH√ÅM PH√Å M·ªêI QUAN H·ªÜ TRONG D·ªÆ LI·ªÜU</div>